<mat-drawer-container autosize>
    <mat-drawer mode="over" #addProductSidebar position="end" class="m-2 p-2">
        <app-upload-box (imageUrlChange)="onImageUrlChange($event)"></app-upload-box>
        <form (ngSubmit)="addProduct($event)" [formGroup]="productFormGroup" class="flex flex-col">
            <mat-form-field appearance="outline" class="block">
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName="name" name="name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Description (optional)</mat-label>
                <textarea matInput name="description"></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Parent Product</mat-label>
                <mat-select formControlName="{{isSubProduct.value ? 'parentProductId' : ''}}" [disabled]="!isSubProduct.value" matNativeControl>
                    <mat-option *ngFor="let product of allCategories" [value]="product.ID">{{product.name}}</mat-option>
                </mat-select>
            </mat-form-field>


            <mat-checkbox color="primary" [formControl]="isSubProduct">Mark as Subproduct</mat-checkbox>

            <div class="space-x-1 text-right">
                <button mat-stroked-button color="primary" (click)="clearForm()">Reset</button>
                <button mat-flat-button color="primary" type="submit" [disabled]="productFormGroup.invalid">Add product</button>
            </div>
        </form>
    </mat-drawer>

    <app-add-category-sidebar></app-add-category-sidebar>
</mat-drawer-container>