<!-- user-menu.component.html -->

<div class="relative" #userMenuTrigger="matMenuTrigger" [matMenuTriggerFor]="userMenu">
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>more_vert</mat-icon>
    </button>
</div>

<mat-menu #userMenu="matMenu">

    <mat-card class="example-card !shadow-none">
        <mat-card-header *ngIf="currentUser$ | async as currentUser">
            <img mat-card-avatar [src]="currentUser.user_metadata['avatar_url']" alt="User Avatar">
            <mat-card-title>{{ currentUser.user_metadata['full_name'] }}</mat-card-title>
            <mat-card-subtitle>{{ currentUser.email }}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>



    <mat-divider></mat-divider>

    <button mat-menu-item routerLink="/settings"><mat-icon>settings</mat-icon>Settings</button>

    <mat-divider></mat-divider>

    <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon>Logout</button>

</mat-menu>