<mat-card class="flex flex-col items-center  w-[30rem]">
    <mat-card-header class="mb-4">
        <mat-card-title class="text-center">Update password</mat-card-title>
        <mat-card-subtitle>
            Securely update your password
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="w-full">
        <form [formGroup]="updatePasswordCredentials">

            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" name="password">
            </mat-form-field>


            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Confirm password</mat-label>
                <input matInput type="password" formControlName="confirmPassword" name="confirmPassword">
            </mat-form-field>

            <button mat-flat-button color="primary" (click)="updatePassword($event)" type="submit" class="w-full" [disabled]="updatePasswordCredentials.invalid">
                Submit
            </button>
        </form>
    </mat-card-content>
</mat-card>