<mat-drawer-container autosize class="h-full fixed top-0">
    <mat-drawer mode="over" [opened]="isOpened" (closed)="toggleSidebar()">
        <a mat-menu-item [href]="'https://glowing-marigold-3c3b5e.netlify.app/'" target="_blank">
            <mat-icon>open_in_new</mat-icon> Go to Store
        </a>
        <button mat-menu-item routerLink="home">
            <mat-icon>home</mat-icon> Home
        </button>
        <button mat-menu-item routerLink="orders">
            <mat-icon>assignment</mat-icon> My Orders
        </button>
        <button mat-menu-item routerLink="messages">
            <mat-icon>message</mat-icon> Messages
        </button>
        <button mat-menu-item routerLink="stores">
            <mat-icon>store</mat-icon> Stores
        </button>
        <button mat-menu-item routerLink="delivery">
            <mat-icon>local_shipping</mat-icon> Delivery
        </button>
        <button mat-menu-item routerLink="support">
            <mat-icon>support</mat-icon> Support
        </button>
        <button mat-menu-item routerLink="settings">
            <mat-icon>settings</mat-icon> Settings
        </button>
    </mat-drawer>

    <app-appbar></app-appbar>
    <router-outlet></router-outlet>
</mat-drawer-container>